* {
	font-family: sans-serif;
}

body {
	background: #333;
	color: #ddd;
	padding: 0;
	margin: 0;
}

nav {
	background: #272727;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 120%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-align: center;
	background: #272727;
	color: #ddd;
	display: block;
	float: left;
	text-decoration: none;

	width: 90px;
}

nav a:hover {
	background: #555;
}

section {
	width: 80%;
	margin: auto;
	/*background: #383838;*/
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.title h1 {
	width: 90%;
	margin: 0px;
}

.title {
	background: #444;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 10px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.error {
	color: #f33;
}

figure {
	margin: 0px;
	margin-top: 1em;
}

a {
	display: block;
	text-decoration: none;
	color: #aaa;
}

a.button {
	color: #ddd;
	text-decoration: none;
	background-color: #444;
	/* Top right bottom left */
	padding: 15px 20px 15px 20px;
	cursor: pointer;
	display: inline-block;
}

a.button:hover {
	background-color: #474747;
}

button {
	border: 0px;

	color: #ddd;
	text-decoration: none;
	background-color: #444;
	/* Top right bottom left */
	padding: 15px 20px 15px 20px;
	cursor: pointer;
}

button:hover {
	background-color: #474747;
}

button.right {
	margin-left: 1em;
}

button.red {
	background: #c33;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr {
	line-height: 2.0;
}

th {
	line-height: 2.5;
}

th:first-child, td:first-child{
	padding-left: 8px;
}

th:last-child, td:last-child{
	padding-right: 15px;
}

thead {
	text-align: left;
	background: #444;
}

tbody tr:nth-child(odd) {
	background: #3d3d3d;
}

.form input[type=text] {
	width: 60%;
	border: 2px solid white;
}

.form td:first-child {
	width: 25%;
}

/* Comments */

.comment {
	width: 100%;
	background: #444;
	padding: 10px;	
	margin-top: 5px;
	margin-right: 0;
}

.comment p {
	margin: 0;
	margin-top: 10px;
}

.comment h4 {
	margin: 0;
}

h4 small {
	margin-left: 10px;
	color: #aaa;
}

.commententry {
	display: block;
	padding: 10px;
	background: #444;
	width: 100%;
}

.commententry form label {
	width: 50px;
	display: inline-block;
}
.commententry form label + input {
	width: 300px;
}

.commententry span {
	display: inline;
}

.commententry textarea::before {
	content: '';
	display: inline-block;
	width: 50px;
}

.commententry textarea {
	vertical-align: middle;
	width: 84%;
	max-width: 84%;
	min-height: 38px;
	margin: 0;
}

.commententry button[type='submit'] {
	vertical-align: middle;
	float: right;
	width: 10%;
}

.moveoverpls {
	width: 50px;
	display: inline-block;
}

/* Tiles */
.tile {
	background: #272727;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;

	width: 200px;
	height: 250px;
	float: left;
}

.tileimg {
	max-width: 190px;
	width: 190px;
	margin: auto;
}

.tilecap {
	max-width: 190px;
	margin: auto;
}

/* Cart view */
#cartview input[type=number] {
	width: 50px;
}

#cartview .small {
	width: 8%;
}

.removebutton {
	color: #d33;
	font-weight: bold;
	cursor: pointer;
	width: 3%;
}
.removebutton:hover {
	color: #d55;
}